{{#each sections}}
  <h3> {{@key}} </h3>
  <table id="{{@key}}">
  <thead>
    <tr>
      <th class="title">Title</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {{#each this}}
      <tr class="question-row">
        <td>{{question.title}}</td>
        <td>{{question.type}}</td>
      </tr>
    {{/each}}
  </tbody>
</table><br>
{{/each}}
