<h1> ABOUT ORS-API </h1>

<div class="row padded">
  <p>
    The Online Reporting System (ORS) Application Programming Interface (API) enables institutions to request data collected by MEAs using ORS, and display this data on their own websites. The API provides information on both questionnaires and individual question types.
  </p>
</div>
<div class="row padded">
  <p>
    For example, MEAs can display response rates for particular reports on their website using live data, as well as displaying live  information on questions that have been answered by reporting parties.
  </p>
</div>
<div class="row padded">
  <p>
    The API provides information on questionnaire details (including percentage of questionnaires submitted, languages a questionnaire is available in and date of creation) and collated answers of all respondents to question types (including numeric and multiple choice questions).
  </p>
</div>
<div class="row padded">
  <p>
    The technical documentation available here provides details on how to make use of the Online Reporting System API.
  </p>
</div>

