<h4> Responses </h4>
<table class="responses-table">
  <thead>
    <tr>
      <th class='title'>Option</th>
      <th>Responses</th>
    </tr>
  </thead>
  <tbody>
    {{#each responses}}
    <tr>
      <td>{{@key}}</td>
      <td class='responses'>
        {{this.length}}
        {{> question/_response_tooltip respondents=this}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
