<div id="question_modal" class="modal-dialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <h2>{{title}}</h2>
    {{#if is_mandatory}}
      <p> This question is mandatory </p>
    {{/if}}

    <h4> Answers </h4>
    {{#if grouped_answers}}
      {{> question/_multiple_responses answers=grouped_answers}}
    {{else}}
      {{#if looping_answers}}
        {{> question/_nested_multiple_answers answers=looping_answers}}
      {{else}}
        {{> question/_numeric_responses answers=answers}}
      {{/if}}
    {{/if}}
  </div>
</div>
