<div id="question_modal" class="modal-dialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <h2>{{title}}</h2>
    {{#if is_mandatory}}
      <p> This question is mandatory </p>
    {{/if}}

    <h4> Responses </h4>
    {{#if grouped_responses}}
      {{> question/_multiple_responses responses=grouped_responses}}
    {{else}}
      {{> question/_numeric_responses responses=responses}}
    {{/if}}
  </div>
</div>
