<h1> <%= @questionnaire.title %> </h1>

<div class='questionnaire-info'>
  <ul class='questionnaire-tabs'>
    <li>Questionnaire details</li>
    <li>Questions</li>
  </ul>
  <div class='questionnaire-tab-container'></div>
</div>
