<div class='questionnaire-info'>
  <h1></h1>
  <ul class='questionnaire-tabs'>
    <li class='active' data-container='questionnaire-details'>Questionnaire details</li>
    <li data-container='questions'>Questions</li>
  </ul>
  <div class='questionnaire-tab-container'>
    <div class='questionnaire-details active-container'></div>
    <div class='questions'></div>
  </div>
</div>
