<div id="footer">
  <div class="row group" id="footer-menu">
    <div class="container">
      <div class="col col-6">
        <h4>ORS-API</h4>
        <h6>Online Reporting System - API</h6><br>
      </div>
  </div>

  <div class="row group" id="copyright-bar">
    <div class="container">
      <div class="row group">
        <div class="col col-8" id="left">
          <p>Copyright &copy; <%= DateTime.now.year %> UNEP-WCMC. All rights reserved. | <%= link_to 'Terms and Conditions', root_path %></p>
        </div>
        <div class="col col-4" id="right">
          <p>Powered By UNEP-WCMC</p>
        </div>
      </div>
    </div>
  </div>
</div>
